<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildMovieAppOnline"
        tools:targetApi="31">
        <activity
            android:name=".View_Activities.FavouriteMovie.FavoriteMovieActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.TVChannel.TVChannelActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.DetailMovie.CategoryMovieActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.DetailMovie.DetailMovieActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".View_Activities.SearchActivity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.LoginLogoutActivity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View_Activities.LoginLogoutActivity.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>